<form class="formLesson" name="editLesson" id="editLessonForm">
	<fieldset>
	<input  type="hidden" id="editlessonId" name="editlessonsId" type="text" value="{{lesson.key.id()}}" required/>
			 <ul class="nav nav-list">
				
				<li>
					<label for="editlessonsType">Type:</label>
						{% for type in types %}
							{% if lesson.type_key.id() == type.key.id() %}
								<input  id="editlessonInputType" name="editlessonsInputType" placeholder="ex: Private, Group, Events, etc."type="text" value="{{type.typename}}" required/>
							{% endif %}
						{% endfor %}
					
				</li>
				
				</li>
				<li>
				
					<label for="editlessonsInputCity">City:</label>
					{% for city in cities %}
							{% if lesson.city_key.id() == city.key.id() %}
								<input  id="editlessonInputCity" name="editlessonsInputCity" placeholder="ex: Private, Group, Events, etc." type="text" value="{{city.cityname}}" required/>
							{% endif %}
						{% endfor %}
					
				</li>
				<li><label for="editlessonsInputLocation">Location:</label>
					<input  id="editlessonsInputLocation" name="editlessonsInputLocation"  type="text" value="{{lesson.location}}" required/>
				</li>
				<li><label for="editlessonsInputDate">Date:</label>
					<input  id="editlessonInputDate" name="editlessonsInputDate" type="text" placeholder="MM/DD/YYYY and/or Day of Week (Sunday-Saturday)" value="{{lesson.date}}"required/>
				</li>
				<li><label for="editlessonsInputTime">Time:</label>
					<input  id="editlessonInputTime" name="editlessonsInputTime" placeholder="ex: 7:00 PM - 8:00 PM" type="text" value="{{lesson.time}}"required/>
				</li>
				<li><label for="editlessonsInputCost">Cost ($):</label>
					<input  id="editlessonInputCost" name="editlessonsInputCost" placeholder="ex: 49/person" type="text" value="{{lesson.cost}}"required/>
				</li>
				<li><label for="editlessonsInputDetailsText">Details:</label>
					<input  id="editlessonInputDetailsText" name="editlessonsInputDetailsText" value="{{lesson.details}}" type="text" required/>
					
				</li>
				<li><label for="editlessonsInputLink">Link:</label>
				
					<input  id="editlessonInputLink" name="editlessonsInputLink" placeholder="ex: http://www.dancingoggin.com" value="{{lesson.link}}"type="text"/>
				</li>	
				
				</ul>
		</fieldset>
</form>
	  